.header {
    color: rgb(201, 105, 121);
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.header-links,
.header-link {
    padding: 0;
    display: flex;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-links li { 
    margin-right: 30px;
}

.link {
    color: rgb(66, 61, 66);
}

.link-active {
    color: black;
}

.header-link-btn {
    background-color: rgb(255, 223, 228);
    border-radius: 12px;
    border: none;
    padding: 5px;
}

.header-link-btn-active {
    background-color: lightgrey;
    border-radius: 12px;
    border: none;
    padding: 5px;
}

.header-link-btn:hover {
    background-color: lightgrey;
    color: white;
}