.header {
    color: rgb(201, 105, 121);
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.header-links,
.header-link {
    padding: 0;
    display: flex;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-links li { 
    margin-right: 30px;
}

.link {
    color: rgb(66, 61, 66);
}

.link-active {
    color: black;
}

.header-link-btn {
    background-color: rgb(255, 223, 228);
    border-radius: 12px;
    border: none;
    padding: 5px;
}

.header-link-btn-active {
    background-color: lightgrey;
    border-radius: 12px;
    border: none;
    padding: 5px;
}

.header-link-btn:hover {
    background-color: lightgrey;
    color: white;
}

/* login form style */

.login-text {
    text-align: center;
}
  
    .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Add margin to separate inputs */
    }
  
  label {
    margin-bottom: 5px; /* Add some spacing below labels */
  }

.login-form {
    background-color: #fff; /* Change to your desired background color */
    border-radius: 10px; /* Increase border-radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 20px; /* Add padding for spacing */
    max-width: 400px; /* Limit the width of the form */
    margin: 0 auto; /* Remove margin to align to the left */
    text-align: center; /* Center text horizontally within the box */
    background-color: rgb(255, 223, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Separate buttons onto different lines */
  .login-form button {
    display: inline-block; /* Make buttons block-level elements */
    margin-top: 10px; /* Add margin to separate buttons */
    justify-content: space-between; /* Space buttons evenly */
  }
  
  /* Style individual buttons */
  .login-form button:first-child {
    margin-right: 10px; /* Add some space between buttons */
  }

  /* Style the Log In button */
  .login-btn {
    background-color: #ebfeee;
    color: black; /* Customize the text color */
}
  
  /* Style the Sign Up button */
  .signup-btn {
    background-color: #ebfeee;
    color: black; /* Customize the text color */
}

/* Style the Go Back button with a different color */
.go-back-btn {
    background-color: rgb(252, 204, 211);
    color: black; /* Text color */
  }
  
  /* Add margin between the buttons */
  .go-back-btn + .logout-btn {
    margin-left: 10px; /* Adjust the margin as needed */
  }

  